<div class="pantalla">
  <h1>Modo anónimo</h1>
  
  <form [formGroup]="formAnonimo">
      <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre" type="text"></ion-input>
      </ion-item>
  
      <small *ngIf=
          "formAnonimo.controls['nombre'].errors?.['required'] &&
          (formAnonimo.controls['nombre'].touched)">
          El nombre es requerido
      </small>
<!-- 
      <ion-label position="floating" class="text-center">Foto</ion-label> -->
      <div class="h-auto flex items-center">
        <button (click)="takePicture(CameraSource.Camera)" class="botonFoto">Tomar foto</button>
        <button (click)="takePicture(CameraSource.Photos)" class="botonFoto">Elegir de la galería</button>
        <img *ngIf="currentImage" [src]="currentImage"/>
      </div>
    
    <div class="registrar">
      <ion-button routerLink="/login">CANCELAR</ion-button>
      <ion-button (click)="ingresar()" type="submit"
      [disabled]="formAnonimo.controls['nombre'].errors || !imagenCargada">INGRESAR</ion-button>
    </div>

  </form>
</div>