<ion-content [fullscreen]="true">
  <div class="container-btns">
    <!-- DUEÑO -->
    <ion-button routerLink="/dueno-supervisor"><ion-icon name="briefcase"></ion-icon>DUEÑO</ion-button>
    <!-- METRE -->
    <ion-button routerLink="/metre"><ion-icon name="footsteps"></ion-icon>METRE</ion-button>
    <!-- MOZO -->
    <ion-button routerLink="/mozo"><ion-icon name="cafe"></ion-icon>MOZO</ion-button>
    <!-- COCINERO -->
    <ion-button routerLink="/cocinero"><ion-icon name="restaurant"></ion-icon>COCINERO</ion-button>
    <!-- BARTENDER -->
    <ion-button routerLink="/bartender"><ion-icon name="wine"></ion-icon>BARTENDER</ion-button>
  </div>
</ion-content>
