<div class="container">
  <div class="welcome-message">
    <p class="anonymous">Has ingresado como anonimo</p>
    <p class="welcome">Bienvenido</p>
  </div>
  <div class="option" routerLink="/inicio-cliente">
    <img src="/assets/acceso-anonimo/fila.png" alt="" class="icon">
    <p class="option-text">Ponerse en la fila</p>
  </div>
  <div class="option" routerLink="/graficos2">
    <img src="/assets/acceso-anonimo/resenas.png" alt="" class="icon">
    <p class="option-text">Ver reseñas</p>
  </div>
  <p class="choose-option">Elije una opción para continuar</p>
</div>
